<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Journeo</title>
  
</head>
<body>

  <nav class="navbar">
    <a href="#" class="logo">Journeo</a>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#explore">Explore</a></li>
      <li><a href="#routes">Routes</a></li>
      <li><a href="#community">Community</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#alu">{{counts}}</a></li>
    </ul>
    <button class="btn">Sign In</button>
  </nav>

</body>
</html>
